:root {
  --main-bg-color: #040714;
  --main-tx-color: #f9f9f9;
}

* {
  margin:0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-tx-color);
  font-family: Avenir-Roman, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--main-tx-color);
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}